{% load static %}

<link rel="stylesheet" href="{% static 'polls/style_ministries.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
<body>
    <div class ="hero">
        <video class = "back-video" autoplay loop muted playsInLine>
            <source src="{% static 'polls/images/Tampa.mp4' %}" type="video/mp4">
        </video>
        <nav>
            <ul class="pages">
                <li><a href="/polls" >HOME</a></li>
                <li><a href="/polls/about">ABOUT US</a></li>
                <li><a href="/polls/ministries">MINISTRIES</a></li>
                <li><a href="/polls/contact">CONTACT US</a></li>
                <li><a href="/polls/giving">GIVING</a></li>
            </ul>
        </nav>
        <div class = "main">
            <div class="D1">

                <h1>DIVISION I - THE MINISTRY OF THE WORD</h1>

                    <h2>PREACHING &amp; TEACHING MINISTRY</h2>

                    <h2>EVANGELISTIC MINISTRY</h2>

                    <h2>BIBLE STUDY MINISTRY</h2>

            </div>

            <div class="D2">

                <h1>DIVISION II - WORSHIP &amp; MEDIA</h1>

                    <h2>WORSHIP MINISTRY</h2>

                    <h2>PRAYER MINISTRY</h2>

                    <h2>MEDIA MINISTRY</h2>

            </div>

            <div class="D3">

                <h1>DIVISION III - CONNECT &amp; FELLOWSHIP</h1>

                    <h2>MEN'S MINISTRY</h2>

                    <h2>WOMEN'S MINISTRY</h2>

                    <h2>DEACON MINISTRY</h2>

            </div>
            
            <div class="D4">

                <h1>DIVISION IV - NEXT GEN &amp; FAMILY</h1>

                    <h2>YOUTH MINISTRY</h2>

                    <h2>CHILDREN'S MINISTRY</h2>

                    <h2>FAMILY COUNSELING</h2>
            
            </div>

            <div class="D5">

                <h1>DIVISION V - FINANCES &amp; PROPERTY</h1>

                    <h2>FINANCES &amp; BUDGET PLANNING COMMITTEE</h2>

                    <h2>PROPERTY SEARCH &amp; MANAGEMENT COMMITTEE</h2>

                    <h2>FUNDRAISING COMMITTEE</h2>

            </div>
        </div>
    </div>
</body>